<?php
// Archivo: config.php
// Configuración de conexión a MariaDB/MySQL
// Generado automáticamente por Ansible
define('base_url', 'http://www.biblioteca.org/');
return [
    'db' => [
        'host' => '{{ biblioteca_db_host }}',
        'name' => '{{ biblioteca_db_name }}',
        'user' => '{{ biblioteca_db_user }}',
        'pass' => '{{ biblioteca_db_password }}',
        'charset' => 'utf8mb4',
    ],
];
?>
