- hosts: servidores_web
  become: true
  roles:
   - role: router_nat

- hosts: servidores_bd
  become: true
  roles:
   - role: db_network_config

- hosts: all
  become: true
  roles:
   - role: commons

- hosts: servidores_web
  become: true
  roles:
   - role: apache2

- hosts: servidores_bd
  become: true
  roles:
   - role: mariadb
